// --- override resume.css ---

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

h1, h2{
  text-transform: none;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

.subheading {
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
}

.list-social-icons a:hover {
  color: #36A149;
}

.list-icons .list-inline-item i:hover {
  color: #36A149;
}

.bg-primary {
  background-color: #399D72 !important;
}

.text-primary {
  color: #0A6E1B !important;
}

a {
  color: #36A149;
}

a:hover, a:focus, a:active {
  color: #0A6E1B;
}


// --- override tweaks.css ---

.tag:hover {
  background-color: #D28A47;
}
.tag:hover::after {
  border-left-color: #D28A47;
}

.resume-section blockquote {
  border-left: 4px solid #36A149;
}
